{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>DMAC Portfolio</title>
        <link rel="stylesheet" href="{% static 'styles/achievements.css' %}">
        <link rel="stylesheet" href="{% static 'styles/contact.css' %}">
        <link rel="stylesheet" href="{% static 'styles/general.css' %}">
        <link rel="stylesheet" href="{% static 'styles/header.css' %}">
        <link rel="stylesheet" href="{% static 'styles/intro.css' %}">
        <link rel="stylesheet" href="{% static 'styles/projects.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Anton+SC&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Anton+SC&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    </head>
    <body id="home">
        <header class="header-container">
            <a style="margin-left: 15px; margin-right: 0px;" class="link" href="#home">
                Home
            </a>
            <a class="link" href="#achievements">
                Achievements
            </a>
            <a class="link" href="#projects">
                Projects
            </a>
            <a style="margin-right: 15px;" class="link" href="#contact">
                Contact Me
            </a>
        </header>
        <div class="intro-section-container">
            <div class="intro-container">
                <p class="hello-label">
                    Hello, my name is
                </p>
                <p class="name-label">
                    Dominic Catania,
                </p>
                <p class="job-label">
                    An aspiring software engineer proficient in
                </p>
                <div class="specializations-container">
                    <div class="specialization-div">
                        <img class="specialization-image" src="{% static 'images/html.png' %}" alt="">
                    </div>
                    <div class="specialization-div">
                        <img class="specialization-image" src="{% static 'images/css.png' %}" alt="">
                    </div>
                    <div class="specialization-div">
                        <a href="https://www.python.org/">
                            <img class="specialization-image" src="{% static 'images/python.png' %}" alt="">
                        </a>
                    </div>
                    <div class="specialization-div">
                        <a style="margin-left: 12px;" href="https://www.djangoproject.com/">
                            <img class="specialization-image" src="{% static 'images/django.png' %}" alt="">
                        </a>
                    </div>
                    <div class="specialization-div">
                        <a href="https://www.java.com/en/">
                            <img class="specialization-image" src="{% static 'images/java.png' %}" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div class="logo-container">
                <a href="#home">
                    <img class="logo" src="{% static 'images/logo.png' %}" alt="DMAC">
                </a>
            </div>
        </div>
        <div class="achievements-container" id="achievements">
            <h1 class="achievements-label">
                Achievements
            </h1>
            <div class="achievements-grid">
                <div class="achievement-card">
    
                </div>
                <div class="achievement-card">
    
                </div>
                <div class="achievement-card">
    
                </div>
                <div class="achievement-card">
    
                </div>
            </div>
        </div>
        <div class="projects-container" id="projects">
            <h1 class="projects-label">
                Featured Projects
            </h1>
            <div class="projects-grid">
                <div class="project-card">
                    <div class="project-basics">
                        <p class="project-title">
                            Lean
                        </p>
                        <a href="#projects">
                            <img class="project-image" src="{% static 'images/lean.png' %}" alt="Lean Image">
                        </a>
                    </div>
                    <div class="project-specs">
                        <p class="project-description">
                            Python desktop application similar to Microsoft Paint, allowing
                            users to create designs using basic shapes and colors as well as
                            basic data structures to better visualize algorithms in personal problem solving.
                        </p>
                        <p class="project-duration">
                            June 2024 - Present
                        </p>
                    </div>
                </div>
                <div class="project-card">
                    <div class="project-basics">
                        <p class="project-title">
                            FlowNote
                        </p>
                        <a href="#projects">
                            <img class="project-image" src="{% static 'images/lean.png' %}" alt="Lean Image">
                        </a>
                    </div>
                    <div class="project-specs">
                        <p class="project-description">
                            Python desktop application designed to assist users in destructuring
                            and modularizing large-scale projects through a calendar-tree relationship
                        </p>
                        <p class="project-duration">
                            June 2023 - June 2024
                        </p>
                    </div>
                </div>
                <div class="project-card">
                    <div class="project-basics">
                        <p class="project-title">
                            Apothiki
                        </p>
                        <a href="#projects">
                            <img class="project-image" src="{% static 'images/lean.png' %}" alt="Lean Image">
                        </a>
                    </div>
                    <div class="project-specs">
                        <p class="project-description">
                            Sister Python Application to TaskManager, serves as a storage system
                            for user credentials, includes random generation and tag-filtering system
                        </p>
                        <p class="project-duration">
                            May 2024 - June 2024
                        </p>
                    </div>
                </div>
                <div class="project-card">
                    <div class="project-basics">
                        <p class="project-title">
                            TaskManager
                        </p>
                        <a href="#projects">
                            <img class="project-image" src="{% static 'images/lean.png' %}" alt="Lean Image">
                        </a>
                    </div>
                    <div class="project-specs">
                        <p class="project-description">
                            Sister Python Application to Apothiki, todo-list system with live calendar,
                            importance and deadline filtering
                        </p>
                        <p class="project-duration">
                            April 2024 - June 2024
                        </p>
                    </div>
                </div>
                <div class="project-card">
                    <div class="project-basics">
                        <p class="project-title">
                            GradeCalc
                        </p>
                        <a href="#projects">
                            <img class="project-image" src="{% static 'images/lean.png' %}" alt="Lean Image">
                        </a>
                    </div>
                    <div class="project-specs">
                        <p class="project-description">
                            Python calculator application including section and percent customization
                        </p>
                        <p class="project-duration">
                            May 2023 - June 2023
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <footer class="contact-container" id="contact">
            <h1 class="contact-label">
                Contact ME here!
            </h1>
            <div class="info-container">

            </div>
        </footer>
    </body>
</html>