{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>DMAC Portfolio</title>
        <link rel="stylesheet" href="{% static 'styles/achievements.css' %}">
        <link rel="stylesheet" href="{% static 'styles/contact.css' %}">
        <link rel="stylesheet" href="{% static 'styles/general.css' %}">
        <link rel="stylesheet" href="{% static 'styles/header.css' %}">
        <link rel="stylesheet" href="{% static 'styles/intro.css' %}">
        <link rel="stylesheet" href="{% static 'styles/projects.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Anton+SC&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Anton+SC&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    </head>
    <body id="home">
        <header class="header-container">
            <div>
                <a href="#home">
                    <img class="small-logo" src="{% static 'images/logo.png' %}" alt="DMAC">
                </a>
            </div>
            <a class="link" href="#achievements">
                Achievements
            </a>
            <a class="link" href="#projects">
                Projects
            </a>
            <a style="margin-right: 15px;" class="link" href="#contact">
                Contact Me
            </a>
        </header>
        <div class="intro-section-container">
            <div class="intro-container">
                <p class="hello-label">
                    Hello, my name is
                </p>
                <p class="name-label">
                    Dominic Catania,
                </p>
                <p class="job-label">
                    An aspiring software engineer proficient in
                </p>
                <div class="specializations-container">
                    <div class="specialization-div">
                        <a href="https://developer.mozilla.org/en-US/docs/Web/HTML" target="_blank">
                            <img class="specialization-image" src="{% static 'images/html.png' %}" alt="">
                        </a>
                    </div>
                    <div class="specialization-div">
                        <a href="https://developer.mozilla.org/en-US/docs/Web/CSS" target="_blank">
                            <img class="specialization-image" src="{% static 'images/css.png' %}" alt="">
                        </a>
                    </div>
                    <div class="specialization-div">
                        <a href="https://www.python.org/" target="_blank">
                            <img class="specialization-image" src="{% static 'images/python.png' %}" alt="">
                        </a>
                    </div>
                    <div class="specialization-div">
                        <a style="margin-left: 12px;" href="https://www.djangoproject.com/" target="_blank">
                            <img class="specialization-image" src="{% static 'images/django.png' %}" alt="">
                        </a>
                    </div>
                    <div class="specialization-div">
                        <a href="https://www.java.com/en/" target="_blank">
                            <img class="specialization-image" src="{% static 'images/java.png' %}" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div class="logo-container">
                <a href="#home">
                    <img class="logo" src="{% static 'images/logo.png' %}" alt="DMAC">
                </a>
            </div>
        </div>
        <div class="achievements-container" id="achievements">
            <h1 class="achievements-label">
                Achievements
            </h1>
            <div class="achievements-grid">
                <div class="achievement-card">
    
                </div>
                <div class="achievement-card">
    
                </div>
                <div class="achievement-card">
    
                </div>
                <div class="achievement-card">
    
                </div>
            </div>
        </div>
        <div class="projects-container" id="projects">
            <h1 class="project-label">
                Featured Projects
            </h1>
            <div class="projects-grid">
                <div class="project-card">
                    <div class="project-basics">
                        <p class="project-title">
                            Lean
                        </p>
                        <a href="#projects">
                            <img class="project-image" src="{% static 'images/lean.png' %}" alt="Lean Image">
                        </a>
                    </div>
                    <div class="project-specs">
                        <p class="project-description">
                            Python desktop application similar to Microsoft Paint, allowing
                            users to create designs using basic shapes and colors as well as
                            basic data structures to better visualize algorithms in personal problem solving
                        </p>
                        <p class="project-duration">
                            June 2024 - Present
                        </p>
                    </div>
                </div>
                <div class="project-card">
                    <div class="project-basics">
                        <p class="project-title">
                            FlowNote
                        </p>
                        <a href="#projects">
                            <img class="project-image" src="{% static 'images/flownote.png' %}" alt="Lean Image">
                        </a>
                    </div>
                    <div class="project-specs">
                        <p class="project-description">
                            Python desktop application designed to assist users in destructuring
                            and modularizing large-scale projects through a calendar-tree relationship
                        </p>
                        <p class="project-duration">
                            June 2023 - June 2024
                        </p>
                    </div>
                </div>
                <div class="project-card">
                    <div class="project-basics">
                        <p class="project-title">
                            Apothiki
                        </p>
                        <a href="#projects">
                            <img class="project-image" src="{% static 'images/apothiki.png' %}" alt="Lean Image">
                        </a>
                    </div>
                    <div class="project-specs">
                        <p class="project-description">
                            Sister Python Application to TaskManager, serves as a storage system
                            for user credentials, includes random generation and tag-filtering system
                        </p>
                        <p class="project-duration">
                            May 2024 - June 2024
                        </p>
                    </div>
                </div>
                <div class="project-card">
                    <div class="project-basics">
                        <p class="project-title">
                            TaskManager
                        </p>
                        <a href="#projects">
                            <img class="project-image" src="{% static 'images/taskmanager.png' %}" alt="Lean Image">
                        </a>
                    </div>
                    <div class="project-specs">
                        <p class="project-description">
                            Sister Python Application to Apothiki, todo-list system with live calendar,
                            importance and deadline filtering
                        </p>
                        <p class="project-duration">
                            April 2024 - June 2024
                        </p>
                    </div>
                </div>
                <div class="project-card">
                    <div class="project-basics">
                        <p class="project-title">
                            Carson
                        </p>
                        <a href="https://www.thebluealliance.com/team/4206/2024" target="_blank">
                            <img class="project-image" src="{% static 'images/robot2024.png' %}" alt="Lean Image">
                        </a>
                    </div>
                    <div class="project-specs">
                        <p class="project-description">
                            Java robot program for the 2024 FRC game, capable
                            of distance interpolation and locking to game targets using
                            AprilTag IDs, autonomous routines with decision-making, and auto-pickup
                            of game pieces
                        </p>
                        <p class="project-duration">
                            January 2024 - April 2024
                        </p>
                    </div>
                </div>
                <div class="project-card">
                    <div class="project-basics">
                        <p class="project-title">
                            Fonix
                        </p>
                        <a href="https://www.thebluealliance.com/team/4206/2023" target="_blank">
                            <img class="project-image" src="{% static 'images/robot2023.jpg' %}" alt="Lean Image">
                        </a>
                    </div>
                    <div class="project-specs">
                        <p class="project-description">
                            Java robot program for the 2023 FRC game, full-field localization
                            and pose estimation using inverse kinematics and AprilTag IDs,
                            autonomous routines with decision-making, auto-pickup, auto-score
                        </p>
                        <p class="project-duration">
                            January 2023 - April 2023
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <footer class="contact-container" id="contact">
            <h1 class="contact-label">
                Contact me here!
            </h1>
            <div class="cards-container">
                <div class="contact-card" style="margin-left: 16px;">
                    <img class="contact-image" src="{% static 'images/phoneinvert.png' %}" alt="Phone Number">
                    <p class="contact-spec">
                        682-582-5795
                    </p>
                </div>
                <div class="contact-card">
                    <a href="https://mail.google.com/mail/?view=cm&fs=1&to=dmacatania@gmail.com" target="_blank">
                        <img class="contact-image" src="{% static 'images/gmailinvert.jpg' %}" alt="Email">
                    </a>
                    <p class="contact-spec">
                        <a class="contact-link" href="https://mail.google.com/mail/?view=cm&fs=1&to=dmacatania@gmail.com" target="_blank">
                            dmacatania@gmail.com
                        </a>
                    </p>
                </div>
                <div class="contact-card">
                    <a href="https://github.com/DomC18" target="_blank">
                        <img class="contact-image" src="{% static 'images/githubinvert.jpg' %}" alt="Github">
                    </a>
                    <p class="contact-spec">
                        <a class="contact-link" href="https://github.com/DomC18" target="_blank">
                            DomC18
                        </a>
                    </p>
                </div>
                <div class="contact-card">
                    <a href="https://www.linkedin.com/in/dominic-catania-086594291/" target="_blank">
                        <img class="contact-image" src="{% static 'images/linkedinvert.png' %}" alt="LinkedIn">
                    </a>
                    <p class="contact-spec">
                        <a class="contact-link" href="https://www.linkedin.com/in/dominic-catania-086594291/" target="_blank">
                            Dominic Catania
                        </a>
                    </p>
                </div>
                <div class="contact-card">
                    <a href="https://www.instagram.com/domcatania/?next=%2F" target="_blank">
                        <img class="contact-image" src="{% static 'images/instagraminvert.jpg' %}" alt="Instagram">
                    </a>
                    <p class="contact-spec">
                        <a class="contact-link" href="https://www.instagram.com/domcatania/?next=%2F" target="_blank">
                            @domcatania
                        </a>
                    </p>
                </div>
                <div class="contact-card" style="margin-right: 16px;">
                    <a href="https://x.com/dmacatania" target="_blank">
                        <img class="contact-image" src="{% static 'images/twitterinvert.jpg' %}" alt="Twitter/X">
                    </a>
                    <p class="contact-spec">
                        <a class="contact-link" href="https://x.com/dmacatania" target="_blank">
                            @dmacatania
                        </a>
                    </p>
                </div>
            </div>
        </footer>
    </body>
</html>