.achievements-container {
    margin-top: 200px;
    padding-top: 40px;
}

.achievements-label-container {
    margin: 0 0 40px;
    border: none;
    border-style: solid;
    border-color: rgb(0, 80, 150);
    border-bottom-width: 10px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
}
.achievements-label {
    margin: 24px;
    color: rgb(0, 80, 150);
}

.achievements-grid {
    width: auto;
    display: grid;
    gap: 40px;
}
.achievement-card {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    z-index: 1;
    border: solid 6px rgb(0, 100, 180);
    border-radius: 30px;
}
.achievement-title-container {
    margin: 0 10px;
}
.achievement-title {
    font-weight: bold;
    margin: 0;
    color: rgb(0, 80, 150);
}
.achievement-author {
    margin: 0;
    color: rgb(0, 100, 180);
}
.achievement-date {
    margin: 0;
    color: rgb(0, 100, 180);
}
.achievement-description-container {
    margin: 0 18px;
}
.achievement-description {
    margin: 0;
    padding: 16px 0;
    color: rgb(40, 80, 120);
}




@media (min-width: 900px) {
    .achievements-grid {
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 899px) {
    .achievements-grid {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 1167px) {
    .achievement-title {
        font-size: 42px;
    }
    .achievement-author {
        font-size: 30px;
    }
    .achievement-date {
        font-size: 34px;
    }
}
@media (max-width: 1166px) and (min-width: 946px) {
    .achievement-title {
        font-size: 34px;
    }
    .achievement-author {
        font-size: 24px;
    }
    .achievement-date {
        font-size: 28px;
    }
}
@media (max-width: 945px) and (min-width: 346px) {
    .achievement-title {
        font-size: 26px;
    }
    .achievement-author {
        font-size: 18px;
    }
    .achievement-date {
        font-size: 22px;
    }
}
@media (max-width: 345px) {
    .achievement-title {
        font-size: 18px;
    }
    .achievement-author {
        font-size: 12px;
    }
    .achievement-date {
        font-size: 16px;
    }
}


@media (min-width: 1274px) {
    .achievement-description {
        font-size: 22px;
    }
}
@media (max-width: 1274px) and (min-width: 555px) {
    .achievement-description {
        font-size: 19px;
    }
}
@media (max-width: 554px) and (min-width: 411px) {
    .achievement-description {
        font-size: 17px;
    }
}
@media (max-width: 411px) and (min-width: 355px) {
    .achievement-description {
        font-size: 14px;
    }
}
@media (max-width: 354px) and (min-width: 309px) {
    .achievement-description {
        font-size: 11px;
    }
}
@media (max-width: 308px) and (min-width: 253px) {
    .achievement-description {
        font-size: 8px;
    }
}
@media (max-width: 252px) {
    .achievement-description {
        font-size: 5px;
    }
}


@media (min-width: 788px) {
    .achievements-label {
        font-size: 80px;
    }
}
@media (max-width: 787px) and (min-width: 698px) {
    .achievements-label {
        font-size: 70px;
    }
}
@media (max-width: 697px) and (min-width: 608px) {
    .achievements-label {
        font-size: 60px;
    }
}
@media (max-width: 607px) {
    .achievements-label {
        text-align: center;
        font-size: 50px;
    }
}
