.education-label-container {
    margin: 200px 25px 50px 25px;
    border: none;
    border-style: solid;
    border-color: rgb(245, 0, 0);
    border-bottom-width: 10px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
}
.education-label {
    font-size: 65px;
    padding: 0px 0px 5px 0px;
    margin-bottom: 24px;
    color: rgb(245, 0, 0);
}
.education-container {
    padding-top: 40px;
}
.education-grid {
    width: auto;
    margin: 0 25px;
    row-gap: 100px;
    display: grid;
    grid-template-columns: 1fr;
}

.education-card {
    display: grid;
    padding: 26px;
    grid-template-columns: 1fr 1fr;
}

.education-basic {
    margin: 0px;
    display: flex;
    flex-direction: column;
    vertical-align: middle;
}
.education-title {
    margin: 0 8px 8px 0;
    color: rgb(255,100,100);
}
.education-img {
    object-fit: contain;
    transition: all 0.25s ease-in-out;
}

.education-info {
    flex: 1;
}
.education-specs {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.education-duration {
    margin: 16px 0 12px 0;
    color: rgb(255,100,100);
}
.education-gpa {
    margin: 16px 24px 12px 0;
    text-align: right;
    color: rgb(255,100,100);
}
.education-role {
    font-size: 30px;
    margin-bottom: 0px;
    margin-top: 14px;
    color: rgb(150, 150, 150);
}
.edu-dot {
    font-size: 30px;
    margin-bottom: 0px;
}





@media (min-width: 1389px) {
    .education-duration, .education-gpa {
        font-size: 32px;
    }
}
@media (max-width: 1388px) {
    .education-duration, .education-gpa {
        font-size: 22px;
    }
}


@media (min-width: 1215px) {
    .education-img {
        width: 70%;
    }
    .education-img:hover {
        width: 72%;
    }
    .education-basic {
        justify-content: space-between;
    }
}
@media (max-width: 1215px) {
    .education-img {
        width: 90%;
    }
    .education-img:hover {
        width: 92%;
    }
    .education-basic {
        justify-content: center;
    }
}


@media (min-width: 1274px) {
    .education-title {
        font-size: 50px;
    }
}
@media (max-width: 1274px) {
    .education-title {
        font-size: 40px;
    }
}