.education-label-container {
    margin: 200px 25px 50px 25px;
    border: none;
    border-style: solid;
    border-color: rgb(225, 0, 0);
    border-bottom-width: 10px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
}
.education-label {
    font-size: 80px;
    padding: 0px 0px 5px 0px;
    margin-bottom: 24px;
    color: rgb(225, 0, 0);
}
.education-container {
    padding-top: 40px;
}
.education-grid {
    width: auto;
    display: grid;
    grid-template-columns: 1fr;
}

.education-card {
    margin: 25px 150px 25px 25px;
    display: flex;
    flex-flow: row wrap;
}

.education-basic {
    flex: 1;
}
.education-title {
    margin: 8px 8px 8px 8px;
    color: rgb(255,100,100);
}
.education-img {
    object-fit: contain;
    transition: all 0.25s ease-in-out;
}

.education-info {
    flex: 1;
}
.education-specs {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.education-duration {
    margin-top: 24px;
    color: rgb(255,100,100);
}
.education-gpa {
    margin-top: 24px;
    margin-right: 24px;
    text-align: right;
    color: rgb(255,100,100);
}
.education-role {
    font-size: 30px;
    margin-bottom: 0px;
    margin-top: 14px;
    color: rgb(150, 150, 150);
}
.edu-dot {
    font-size: 30px;
    margin-bottom: 0px;
}





@media (min-width: 1389px) {
    .education-duration, .education-gpa {
        font-size: 32px;
    }
}
@media (max-width: 1388px) {
    .education-duration, .education-gpa {
        font-size: 22px;
    }
}


@media (min-width: 1339px) {
    .education-img {
        width: 50%;
    }
    .education-img:hover {
        width: 52%;
    }
}
@media (max-width: 1339px) and (min-width: 1215px) {
    .education-img {
        width: 60%;
    }
    .education-img:hover {
        width: 62%;
    }
}
@media (max-width: 1215px) {
    .education-img {
        width: 70%;
    }
    .education-img:hover {
        width: 72%;
    }
}


@media (min-width: 1274px) {
    .education-title {
        font-size: 50px;
    }
}
@media (max-width: 1274px) {
    .education-title {
        font-size: 40px;
    }
}



@media (min-width: 577px) {
    .education-grid {
        row-gap: 0px;
    }
    .education-basic {
        padding-bottom: 0px; 
        border: none;
    }
    .education-info {
        margin-left: 0px;
    }
}
@media (max-width: 577px) {
    .education-grid {
        row-gap: 20px;
    }
    .education-basic {
        padding-bottom: 18px;
        border-color: rgb(255,100,100);
        border-style: solid;
        border-bottom-width: 1px;
        border-top-width: 0px;
        border-left-width: 0px;
        border-right-width: 0px;
    }
    .education-info {
        margin-left: 8px;
    }
}