.intro-section-container {
    display: grid;
    width: auto;
    height: 900px;
    margin-top: 77px;
}
.intro-container {
    display: inline-block;
    align-content: center;
}
.hello-label, .name-label, .job-label {
    margin-left: 50px;
}
.hello-label {
    color: rgb(255, 146, 146);
    font-size: 50px;
    margin-bottom: 0px;
}
.name-label {
    color: rgb(245, 0, 0);
    margin-top: -12px;
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 0px;
}
.job-label {
    align-items: center;
    justify-content: left;
    color: rgb(255, 146, 146);
    margin-top: 0px;
    font-size: 30px;
}
.specializations-container {
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.specialization-text {
    opacity: 0;
    color: white; 
    text-align: center; 
    margin: 0;
}
.specialization {
    flex: 1;
    padding: 0px 5px;
}
.specialization:nth-child(1) {
    transition-delay: 800ms;
}
.specialization:nth-child(2) {
    transition-delay: 1000ms;
}
.specialization:nth-child(3) {
    transition-delay: 1200ms;
}
.specialization:nth-child(4) {
    transition-delay: 1400ms;
}
.specialization:nth-child(5) {
    transition-delay: 1600ms;
}
.specialization:nth-child(6) {
    transition-delay: 1800ms;
}
.specialization:nth-child(7) {
    transition-delay: 2000ms;
}
.specialization-image, .ninety-image, .sixtynine-image {
    max-width: 80%;
    padding: 4px 8px;
    transition: all 0.25s ease-in-out;
}
.ninety-image {
    max-width: 90%;
}
.sixtynine-image {
    max-width: 69%;
}
.specialization-image:hover {
    max-width: calc(80% + 8px);
    padding: 0px 4px;
}
.ninety-image:hover {
    max-width: calc(90% + 8px);
    padding: 0px 4px;
}
.sixtynine-image:hover {
    max-width: calc(69% + 8px);
    padding: 0px 4px;
}
.logo-container {
    align-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo {
    max-width: 60%;
    padding: 0 2.5%;
    object-fit: cover;
    transition: all 0.25s ease-in-out;
}





@media (min-width: 1070px) {
    .logo-container {
        width: auto;
        height: auto;
    }
    .intro-section-container {
        grid-template-columns: 1fr 1fr;
    }
    .job-label {
        display: flex;
    }
}
@media (max-width: 1070px) {
    .logo-container {
        width: 0;
        height: 0;
    }
    .intro-section-container {
        grid-template-columns: 1fr;
    }
    .hello-label, .name-label, .job-label {
        text-align: center;
        margin-left: 0px;
    }
    .job-label {
        display: block;
    }
}