.intro-section-container {
    display: grid;
    width: auto;
    height: 1000px;
}
.intro-container{
    display: inline-block;
    align-content: center;
}
.hello-label, .name-label, .job-label {
    margin-left: 50px;
}
.hello-label {
    color: rgb(255, 146, 146);
    font-size: 62px;
    margin-bottom: 0px;
}
.name-label {
    color: rgb(255, 0, 0);
    margin-top: 0px;
    font-size: 70px;
    font-weight: bold;
    margin-bottom: 0px;
}
.job-label {
    color: rgb(255, 146, 146);
    margin-top: 28px;
    font-size: 28px;
}
.specializations-container {
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.specialization {
    flex: 1;
    padding: 0px 8px;
}
.specialization:nth-child(1) {
    transition-delay: 800ms;
}
.specialization:nth-child(2) {
    transition-delay: 1000ms;
}
.specialization:nth-child(3) {
    transition-delay: 1200ms;
}
.specialization:nth-child(4) {
    transition-delay: 1400ms;
}
.specialization:nth-child(5) {
    transition-delay: 1600ms;
}
.specialization-image {
    max-width: 100%;
    transition: all 0.25s ease-in-out;
}
.specialization-image:hover {
    max-width: 105%;
}
.logo-container {
    align-content: center;
    display: inline-block;
}
.logo {
    max-width: 100%;
    object-fit: cover;
    transition: all 0.25s ease-in-out;
}
.logo:hover {
    max-width: 105%;
}





@media (min-width: 1070px) {
    .logo-container {
        width: auto;
        height: auto;
    }
    .intro-section-container {
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 1070px) {
    .logo-container {
        width: 0;
        height: 0;
    }
    .intro-section-container {
        grid-template-columns: 1fr;
    }
    .hello-label, .name-label, .job-label {
        text-align: center;
        margin-left: 0px;
    }
}