.projects-container {
    margin-top: 100px;
    padding-top: 40px;
}

.project-label-container {
    margin: 40px 0;
    border: none;
    border-style: solid;
    border-color: rgb(0, 80, 150);
    border-bottom-width: 10px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
}
.project-label {
    margin: 24px;
    color: rgb(0, 80, 150);
}

.projects-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}
.project-card {
    border: solid 6px rgb(0, 100, 180);
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.3);
    display: flex;
    flex-direction: column;
    column-gap: 20px;
}
.project-card:nth-child(1) {
    transition-delay: 0ms;
}
.project-card:nth-child(2) {
    transition-delay: 300ms;
}
.project-card:nth-child(3) {
    transition-delay: 600ms;
}
.project-card:nth-child(4) {
    transition-delay: 900ms;
}
.project-card:nth-child(5) {
    transition-delay: 1050ms;
}
.project-card:nth-child(6) {
    transition-delay: 1200ms;
}

.project-basics {
    margin: 0px;
    display: flex;
    justify-content: space-between;
}
.project-link {
    color: rgb(0, 50, 130);
    text-decoration: none;
    display: flex;
    justify-content: left;
    align-items: center;
    transition: all 0.25s ease-in-out;
}
.project-link:hover {
    scale: 1.05;
}
.project-title {
    font-size: 33px;
    display: inline-block;
    color: rgb(0, 80, 150);
    font-weight: bold;
    margin: 0px 0px 0px 8px;
}
.project-github {
    padding-left: 8px;
    width: 40px;
    border-radius: 20px;
    display: inline-block;
}
.project-image-container {
    flex: 1;
    transition: all 0.25s ease-in-out;
}
.project-image-container:hover {
    flex: 1.05;
}
.project-image {
    width: 100%;
    height: 240px;
    object-fit: contain;
}
.project-specs {
    margin: 0px;
    display: flex;
    justify-content: space-between;
}
.project-description {
    color: rgb(40, 80, 120);
    text-align: left;
    margin: 7px 10px 0 8px;
    font-weight: 200;
    flex: 1;
}
.project-duration {
    color: rgb(0, 100, 180);
    text-align: right;
    margin-bottom: 7px;
    margin-right: 10px;
}
.frc-link {
    transition: all 0.25s ease-in-out;
}
.frc-link:hover {
    font-size: 1.05em;
}




@media (min-width: 900px) {
    .projects-grid {
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 899px) {
    .projects-grid {
        grid-template-columns: 1fr;
    }
}


@media (min-width: 1267px) {
    .project-description {
        font-size: 20px;
    }
}
@media (max-width: 1266px) and (min-width: 1154px) {
    .project-description {
        font-size: 18px;
    }
}
@media (max-width: 1153px) and (min-width: 918px) {
    .project-description {
        font-size: 16px;
    }
}
@media (max-width: 917px) and (min-width: 900px) {
    .project-description {
        font-size: 14px;
    }
    .project-duration {
        font-size: 12px;
    }
}
@media (max-width: 899px) and (min-width: 657px) {
    .project-description {
        font-size: 20px;
    }
}
@media (max-width: 656px) and (min-width: 466px) {
    .project-description {
        font-size: 16px;
    }
}
@media (max-width: 466px) and (min-width: 380px) {
    .project-description {
        font-size: 14px;
    }
}
@media (max-width: 380px) and (min-width: 330px) {
    .project-description {
        font-size: 12px;
    }
}
@media (max-width: 330px) {
    .project-description {
        font-size: 10px;
    }
}


@media (min-width: 1030px) {
    .project-duration {
        font-size: 16px;
    }
}
@media (max-width: 1029px) {
    .project-duration {
        font-size: 14px;
    }
}


@media (min-width: 788px) {
    .project-label {
        font-size: 80px;
    }
}
@media (max-width: 787px) and (min-width: 698px) {
    .project-label {
        font-size: 70px;
    }
}
@media (max-width: 697px) and (min-width: 608px) {
    .project-label {
        font-size: 60px;
    }
}
@media (max-width: 607px) {
    .project-label {
        text-align: center;
        font-size: 50px;
    }
}