.achievements-label {
    margin-left: 25px;
}
.achievements-container {
    padding-top: 40px;
}
.achievements-grid {
    width: auto;
    display: grid;
    grid-template-columns: 1fr;
}
.achievement-card {
    border: solid 1px lightblue;
    height: 300px;
    margin: 25px;
}