.contact-container {
    width: auto;
    margin-top: 250px;
    height: 500px;
}

.contact-label-container {
    margin: 200px 25px 50px 25px;
    border: none;
    border-style: solid;
    border-color: rgb(216, 255, 164);
    border-bottom-width: 10px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
}
.contact-label {
    text-align: center;
    font-size: 90px;
    padding: 0px 0px 5px 0px;
    margin-bottom: 24px;
    color: rgb(216, 255, 164);
}
.cards-container {
    left: 50%;
    right: 50%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contact-card {
    height: 300px;
}
.contact-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}
.contact-spec {
    font-size: 20px;
}
.contact-link {
    color: rgb(216, 255, 164);
}