.intro-section-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: auto;
    height: 1500px;
    padding-top: 55px;
}
.intro-container{
    left: 0%;
    display: inline-block;
}
.logo-container {
    right: 0%;
    align-content: center;
    display: inline-block;
}
.logo {
    max-width: 100%;
    object-fit: cover;
}